@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
li{
    list-style:none;
}
a{
	text-decoration:none;
}
.container{
	width:100%;
	height: 100vh;
	background-color: rgba(236, 104, 124,1);
	display:flex;
	justify-content: center;
	align-items: center;
}
.primario{
    width: 100%;
    height: 4vh;
    background-color: rgba(236, 104, 124,1);
}


.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;

}

button{
    color:#FFF;
    padding: 10px 25px;
    background:#1e1e26;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 10px ;
    outline: none;
    cursor: pointer;
}


.box{
	width:350px;
	height:610px;
	background-color:#1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.model{
	height: 350px;
	max-height: 100%;
	max-width: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
.details p{
	font-family: calibri;
	font-weight: bold;
	color:#6a6a74;
	text-align: center;
	margin-top: 20px;
}
.electro{
	color:#FFF;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: bebas kai;
	font-size: 25px;
}
.logo{
	height: 60px;
}
.box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover .electro{
	color: rgba(236, 104, 124,1);
	transition: all ease 0.5s;
}

@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
}